[user]
	name = takaaki sato
	email = takaaki.sato@zozo.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	st = status
	co = checkout
	br = branch
	cm = commit
	tree = log --graph --all --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%h%Creset %C(magenta reverse)%d%Creset %s\"
[ghq]
	root = /Users/takaaki.sato/.ghq
